{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <br>
      <br>
    </article>
  </div>
</div>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <p class="text-center">{{ .Description }}</p>
    <br>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <div class="card">
            <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 400w, https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1SPXCnnXu5FDcbIGBQmTzkrec0g714Hd3">
                </div>
                <p class="card-text">Hanya dengan ROOV, semua radio yang ada di nusantara bisa kamu nikmati.
                    Selain Radio, konten-konten video dan podcast dari radio favorit kamu pun ada di sini.</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a href="https://roov.id/" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>
                    <!-- <span class="dropdown">
                        <a href="#" class="dropdown-toggle" id="showcasesDropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Download
                        </a>
                        <div class="dropdown-menu" aria-labelledby="">
                            <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.ebay.motorsapp" target="_blank" rel="noopener">Android</a>
                            <a class="dropdown-item" href="https://apps.apple.com/us/app/ebay-motors/id1456156090" target="_blank" rel="noopener">iOS</a>
                        </div>
                    </span> -->
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
            <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 400w, https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1SPXCnnXu5FDcbIGBQmTzkrec0g714Hd3">
                </div>
                <p class="card-text">Hanya dengan ROOV, semua radio yang ada di nusantara bisa kamu nikmati.
                    Selain Radio, konten-konten video dan podcast dari radio favorit kamu pun ada di sini.</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a href="https://roov.id/" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
            <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 400w, https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1SPXCnnXu5FDcbIGBQmTzkrec0g714Hd3">
                </div>
                <p class="card-text">Hanya dengan ROOV, semua radio yang ada di nusantara bisa kamu nikmati.
                    Selain Radio, konten-konten video dan podcast dari radio favorit kamu pun ada di sini.</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a href="https://roov.id/" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="card">
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 400w, https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1SPXCnnXu5FDcbIGBQmTzkrec0g714Hd3">
                  </div>
                  <p class="card-text">Hanya dengan ROOV, semua radio yang ada di nusantara bisa kamu nikmati.
                      Selain Radio, konten-konten video dan podcast dari radio favorit kamu pun ada di sini.</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a href="https://roov.id/" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>
                      <!-- <span class="dropdown">
                          <a href="#" class="dropdown-toggle" id="showcasesDropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Download
                          </a>
                          <div class="dropdown-menu" aria-labelledby="">
                              <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.ebay.motorsapp" target="_blank" rel="noopener">Android</a>
                              <a class="dropdown-item" href="https://apps.apple.com/us/app/ebay-motors/id1456156090" target="_blank" rel="noopener">iOS</a>
                          </div>
                      </span> -->
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 400w, https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1SPXCnnXu5FDcbIGBQmTzkrec0g714Hd3">
                  </div>
                  <p class="card-text">Hanya dengan ROOV, semua radio yang ada di nusantara bisa kamu nikmati.
                      Selain Radio, konten-konten video dan podcast dari radio favorit kamu pun ada di sini.</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a href="https://roov.id/" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 400w, https://docs.google.com/uc?export=download&id=1HbQf4BhlJ6Yu1PCKcgEJvER5jETUqci5 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1SPXCnnXu5FDcbIGBQmTzkrec0g714Hd3">
                  </div>
                  <p class="card-text">Hanya dengan ROOV, semua radio yang ada di nusantara bisa kamu nikmati.
                      Selain Radio, konten-konten video dan podcast dari radio favorit kamu pun ada di sini.</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a href="https://roov.id/" class="link" target="_blank" rel="noopener">Learn more<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>
{{ end }}