{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <br>
      <br>
    </article>
  </div>
</div>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <p class="text-center">{{ .Description }}</p>
    <br>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <div class="card"> 
            <!-- roov -->
            <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1T5gDn3V1HV2tZWFDzdHoU_8dfHzHO7aC" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1T5gDn3V1HV2tZWFDzdHoU_8dfHzHO7aC 400w, https://docs.google.com/uc?export=download&id=1T5gDn3V1HV2tZWFDzdHoU_8dfHzHO7aC 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Roov" src="https://docs.google.com/uc?export=download&id=1_UBSxD5wBOexqIrTtYXeLUh7WvvD8swt">
                </div>
                <p class="card-text">Radio Music Podcas‪t‬</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a class="btn btn-primary" href="https://www.roov.id/" role="button" target="_blank">Learn more</a>
                <span>&emsp;</span>
                <a href="https://play.google.com/store/apps/details?id=com.mnc.radioaggregator" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                <span>&emsp;</span>
                <a href="https://apps.apple.com/cy/app/roov-radio-music-podcast/id1462742495?l=en" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
            <!-- MOTION -->
            <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1Pr2_OFFM2ilqzxg8PHbpNyYHZywAuOtv" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1Pr2_OFFM2ilqzxg8PHbpNyYHZywAuOtv 400w, https://docs.google.com/uc?export=download&id=1Pr2_OFFM2ilqzxg8PHbpNyYHZywAuOtv 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Motion" src="https://docs.google.com/uc?export=download&id=1OQYwH4Ezw2U0PkPiLiMaSBL4Bs8poqD9">
                </div>
                <p class="card-text">Mobile Transaction By MNC Bank</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a class="btn btn-primary" href="https://mncbank.co.id/" role="button" target="_blank">Learn more</a>
                <span>&emsp;</span>
                <a href="https://play.google.com/store/apps/details?id=com.mnc.mbanking" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                <span>&emsp;</span>
                <a href="https://apps.apple.com/id/app/motion/id1506555741" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
            <!-- SPIN -->
            <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=10iI1Sz4ehB-3PM-cXhwdMY7DRcKZ-SKx" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=10iI1Sz4ehB-3PM-cXhwdMY7DRcKZ-SKx 400w, https://docs.google.com/uc?export=download&id=10iI1Sz4ehB-3PM-cXhwdMY7DRcKZ-SKx 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="SPIN" src="https://docs.google.com/uc?export=download&id=14KOThWOX4uJPmG4GmSojNvtua-emZhx9">
                </div>
                <p class="card-text">Smart Payment Indonesia</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a class="btn btn-primary" href="https://www.spinpay.id/" role="button" target="_blank">Learn more</a>
                <span>&emsp;</span>
                <a href="https://play.google.com/store/apps/details?id=com.spin.app.latest" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                <span>&emsp;</span>
                <a href="https://apps.apple.com/us/app/spin-pay/id1485001093" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="card"> 
              <!-- RCTI+ -->
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1HpcGRX-YLTQ5aIKFekUzAoloykQ8Vrzl" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1HpcGRX-YLTQ5aIKFekUzAoloykQ8Vrzl 400w, https://docs.google.com/uc?export=download&id=1HpcGRX-YLTQ5aIKFekUzAoloykQ8Vrzl 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="RCTI+" src="https://docs.google.com/uc?export=download&id=1jMtcipXxacV5iebLpcbx1k9kcTHbhfrq">
                  </div>
                  <p class="card-text">Streaming TV, Video, News and Radio</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.rctiplus.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.fta.rctitv" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/rcti/id1472168599" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- Vision+ -->
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1Hf7NZ_c0YuWigMhNHHSubiZLhN06W8Wi" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1Hf7NZ_c0YuWigMhNHHSubiZLhN06W8Wi 400w, https://docs.google.com/uc?export=download&id=1Hf7NZ_c0YuWigMhNHHSubiZLhN06W8Wi 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Vision+" src="https://docs.google.com/uc?export=download&id=1Bcn3eD4sNTg88xWWeJ2pmyBtviToSfYb">
                  </div>
                  <p class="card-text">Watch TV & Film Streaming</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://visionplus.id/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.zte.iptvclient.android.idmnc" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/mnc-now/id977117822" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- Hario -->
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1JcAgeDI87F_OO2tuoD7Nz9hYGBKa7Ov9" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1JcAgeDI87F_OO2tuoD7Nz9hYGBKa7Ov9 400w, https://docs.google.com/uc?export=download&id=1JcAgeDI87F_OO2tuoD7Nz9hYGBKa7Ov9 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Hario Asuransi Online" src="https://docs.google.com/uc?export=download&id=1T9EsB6soLC_Qas1D6E_KDdmWGAE4FWEt">
                  </div>
                  <p class="card-text">Helping you anticipate various financial risks in life</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.roov.id/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.hario.top" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/hario-asuransi-online/id1498412425" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
      </div>
    <br>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="card"> 
              <!-- Okezone -->
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=14TXwzRzeHh_LklzuyHk0MC04tWSAthcC" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=14TXwzRzeHh_LklzuyHk0MC04tWSAthcC 400w, https://docs.google.com/uc?export=download&id=14TXwzRzeHh_LklzuyHk0MC04tWSAthcC 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Okezone" src="https://docs.google.com/uc?export=download&id=1PkHzJ18SRNkK3FiAzNr7lnNbD7KwA9wE">
                  </div>
                  <p class="card-text">Online News and Entertainment Portal</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.okezone.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=linktone.okezone.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/id/app/okezone-com-news/id624468351" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- Sindonews -->
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1YNogSSCDK_LGAE2aUD-zRIUxqGdz8G-B" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1YNogSSCDK_LGAE2aUD-zRIUxqGdz8G-B 400w, https://docs.google.com/uc?export=download&id=1YNogSSCDK_LGAE2aUD-zRIUxqGdz8G-B 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Sindonews" src="https://docs.google.com/uc?export=download&id=1jibU9EXXwpsWsTWs0PpRMpzg0D6xgRpi">
                  </div>
                  <p class="card-text">News online site national & international news</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.sindonews.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.sindonews.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/sindonews/id1509383487" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- F Thing -->
              <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=1K7zoXKTtZQUKjZ_n7pfD_GhBScZmkEoQ" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=1K7zoXKTtZQUKjZ_n7pfD_GhBScZmkEoQ 400w, https://docs.google.com/uc?export=download&id=1K7zoXKTtZQUKjZ_n7pfD_GhBScZmkEoQ 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="The F Thing World" src="https://docs.google.com/uc?export=download&id=1fxUP7YuVon1ScU2y4QQFRTihQWbtisTK">
                  </div>
                  <p class="card-text">It is a community based fashion and lifestyle e-commerce</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://thefthing.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.thefthing.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/id/app/the-f-thing/id1363701122" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center text-center">
          <div class="col-lg-5">
            <div class="card"> 
                <!-- Mister Aladin -->
                <img class="card-img-top" src="https://docs.google.com/uc?export=download&id=16S-8wdIyAlZ9yL_vBJsDncw3Q8N_3YVL" aria-hidden="true" srcset="https://docs.google.com/uc?export=download&id=16S-8wdIyAlZ9yL_vBJsDncw3Q8N_3YVL 400w, https://docs.google.com/uc?export=download&id=16S-8wdIyAlZ9yL_vBJsDncw3Q8N_3YVL 600w">
                <div class="card-body">
                    <div class="card-title">
                        <img class="logo" alt="Mister Aladin" src="https://docs.google.com/uc?export=download&id=1TB-2TUCZOzH2zPGhPs8O89T6pFvwjqC8">
                    </div>
                    <p class="card-text">Booking The Best Hotel Service For ALL Your Travel</p>
                </div>
                <div class="card-footer card-footer--transparent card-footer--links">
                    <a class="btn btn-primary" href="https://www.misteraladin.com/" role="button" target="_blank">Learn more</a>
                    <span>&emsp;</span>
                    <a href="https://play.google.com/store/apps/details?id=com.misteraladin.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                    <span>&emsp;</span>
                    <a href="https://apps.apple.com/id/app/mister-aladin-book-and-go/id1144403123" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
          </div>
        </div>
  </div>
</section>
{{ end }}