{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <br>
      <br>
    </article>
  </div>
</div>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <p class="text-center">{{ .Description }}</p>
    <br>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <div class="card"> 
            <!-- roov -->
            <img class="card-img-top" src="{{ .Params.showcase_image_roov }}" aria-hidden="true" srcset="{{ .Params.showcase_image_roov }} 400w, {{ .Params.showcase_image_roov }} 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Roov" src="{{.Params.showcase_icon_roov}}">
                </div>
                <p class="card-text">Radio Music Podcas‪t‬</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a class="btn btn-primary" href="https://www.roov.id/" role="button" target="_blank">Learn more</a>
                <span>&emsp;</span>
                <a href="https://play.google.com/store/apps/details?id=com.mnc.radioaggregator" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                <span>&emsp;</span>
                <a href="https://apps.apple.com/cy/app/roov-radio-music-podcast/id1462742495?l=en" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
            <!-- MOTION -->
            <img class="card-img-top" src="{{ .Params.showcase_image_motion }}" aria-hidden="true" srcset="{{ .Params.showcase_image_motion }} 400w, {{ .Params.showcase_image_motion }} 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="Motion" src="{{.Params.showcase_icon_motion}}">
                </div>
                <p class="card-text">Mobile Transaction By MNC Bank</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a class="btn btn-primary" href="https://mncbank.co.id/" role="button" target="_blank">Learn more</a>
                <span>&emsp;</span>
                <a href="https://play.google.com/store/apps/details?id=com.mnc.mbanking" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                <span>&emsp;</span>
                <a href="https://apps.apple.com/id/app/motion/id1506555741" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
            <!-- SPIN -->
            <img class="card-img-top" src="{{.Params.showcase_image_spin}}" aria-hidden="true" srcset="{{.Params.showcase_image_spin}} 400w, {{.Params.showcase_image_spin}} 600w">
            <div class="card-body">
                <div class="card-title">
                    <img class="logo" alt="SPIN" src="{{.Params.showcase_icon_spin}}">
                </div>
                <p class="card-text">Smart Payment Indonesia</p>
            </div>
            <div class="card-footer card-footer--transparent card-footer--links">
                <a class="btn btn-primary" href="https://www.spinpay.id/" role="button" target="_blank">Learn more</a>
                <span>&emsp;</span>
                <a href="https://play.google.com/store/apps/details?id=com.spin.app.latest" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                <span>&emsp;</span>
                <a href="https://apps.apple.com/us/app/spin-pay/id1485001093" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="card"> 
              <!-- RCTI+ -->
              <img class="card-img-top" src="{{.Params.showcase_image_rctiplus}}" aria-hidden="true" srcset="{{.Params.showcase_image_rctiplus}} 400w, {{.Params.showcase_image_rctiplus}} 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="RCTI+" src="{{.Params.showcase_icon_rctiplus}}">
                  </div>
                  <p class="card-text">Streaming TV, Video, News and Radio</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.rctiplus.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.fta.rctitv" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/rcti/id1472168599" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- Vision+ -->
              <img class="card-img-top" src="{{.Params.showcase_image_visionplus}}" aria-hidden="true" srcset="{{.Params.showcase_image_visionplus}} 400w, {{.Params.showcase_image_visionplus}} 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Vision+" src="{{.Params.showcase_icon_visionplus}}">
                  </div>
                  <p class="card-text">Watch TV & Film Streaming</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://visionplus.id/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.zte.iptvclient.android.idmnc" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/mnc-now/id977117822" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- Hario -->
              <img class="card-img-top" src="{{.Params.showcase_image_hario}}" aria-hidden="true" srcset="{{.Params.showcase_image_hario}} 400w, {{.Params.showcase_image_hario}} 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Hario Asuransi Online" src="{{.Params.showcase_icon_hario}}">
                  </div>
                  <p class="card-text">Helping you anticipate various financial risks in life</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.roov.id/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.hario.top" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/hario-asuransi-online/id1498412425" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
      </div>
    <br>
    <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <div class="card"> 
              <!-- Okezone -->
              <img class="card-img-top" src="{{.Params.showcase_image_okezone}}" aria-hidden="true" srcset="{{.Params.showcase_image_okezone}} 400w, {{.Params.showcase_image_okezone}} 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Okezone" src="{{.Params.showcase_icon_okezone}}">
                  </div>
                  <p class="card-text">Online News and Entertainment Portal</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.okezone.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=linktone.okezone.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/id/app/okezone-com-news/id624468351" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- Sindonews -->
              <img class="card-img-top" src="{{.Params.showcase_image_sindonews}}" aria-hidden="true" srcset="{{.Params.showcase_image_sindonews}} 400w, {{.Params.showcase_image_sindonews}} 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="Sindonews" src="{{.Params.showcase_icon_sindonews}}">
                  </div>
                  <p class="card-text">News online site national & international news</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://www.sindonews.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.sindonews.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/us/app/sindonews/id1509383487" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
              <!-- F Thing -->
              <img class="card-img-top" src="{{.Params.showcase_image_fthing}}" aria-hidden="true" srcset="{{.Params.showcase_image_fthing}} 400w, {{.Params.showcase_image_fthing}} 600w">
              <div class="card-body">
                  <div class="card-title">
                      <img class="logo" alt="The F Thing World" src="{{.Params.showcase_icon_fthing}}">
                  </div>
                  <p class="card-text">It is a community based fashion and lifestyle e-commerce</p>
              </div>
              <div class="card-footer card-footer--transparent card-footer--links">
                  <a class="btn btn-primary" href="https://thefthing.com/" role="button" target="_blank">Learn more</a>
                  <span>&emsp;</span>
                  <a href="https://play.google.com/store/apps/details?id=com.thefthing.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                  <span>&emsp;</span>
                  <a href="https://apps.apple.com/id/app/the-f-thing/id1363701122" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
              </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row justify-content-center text-center">
          <div class="col-lg-5">
            <div class="card"> 
                <!-- Mister Aladin -->
                <img class="card-img-top" src="{{.Params.showcase_image_mister_aladin}}" aria-hidden="true" srcset="{{.Params.showcase_image_mister_aladin}} 400w, {{.Params.showcase_image_mister_aladin}} 600w">
                <div class="card-body">
                    <div class="card-title">
                        <img class="logo" alt="Mister Aladin" src="{{.Params.showcase_icon_mister_aladin}}">
                    </div>
                    <p class="card-text">Booking The Best Hotel Service For ALL Your Travel</p>
                </div>
                <div class="card-footer card-footer--transparent card-footer--links">
                    <a class="btn btn-primary" href="https://www.misteraladin.com/" role="button" target="_blank">Learn more</a>
                    <span>&emsp;</span>
                    <a href="https://play.google.com/store/apps/details?id=com.misteraladin.android" class="link" target="_blank" rel="noopener">Android<i class="fas fa-external-link-alt"></i></a>
                    <span>&emsp;</span>
                    <a href="https://apps.apple.com/id/app/mister-aladin-book-and-go/id1144403123" class="link" target="_blank" rel="noopener">iOS<i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
          </div>
        </div>
  </div>
</section>
{{ end }}