{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="jumbotron">
            <h5 class="display-5">Center of excellence</h5>
            <h1>Mobile App Development</h1>
            <p>(at) MNC Innovation Center</p>
            <p class="lead">We have developed 10+ products and do over 73.8 million active users a day across Media, Financial Services, Lifestyle Property, Hospitality, News & Entertainment</p>
            <br>
            <p><a class="btn btn-primary" href="https://github.com/mncinnovation" role="button" target="_blank" rel="noopener noreferrer">Contribute with Us</a>
            </p>
        </div>
    </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }} {{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-9">
            {{- .Content -}}
        </div>
    </div>
</section>
{{ end }}