{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="jumbotron">
            <h5 class="display-5">Center of excellence</h5>
            <h1>Mobile App Development</h1>
            <p>(at) MNC Innovation Center</p>
            <p class="lead">We have developed 10+ products and do over 73.8 million active users a day across Media, Financial Services, Lifestyle Property, Hospitality, News & Entertainment</p>
            <br>
            <p><a class="btn btn-primary" href="https://github.com/mncinnovation" role="button" target="_blank" rel="noopener noreferrer">Contribute with Us</a>
            </p>
        </div>
    </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }} {{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-9">
            {{- .Content -}}
        </div>
    </div>
</section>
{{ end }}

<!-- titipan politik, comscore related -->
<script>
for (i= 0; i<100; i++){
  let sesPayload = "https://sb.scorecardresearch.com/p2?c1=19&c2=9013027&ns_ap_an=ses_r&ns_ap_pn=ios&ns_ap_pv=15.7&c12=7696D8299D696FC5147A623898B1DFCE-cs62&name=foreground&ns_ap_ec=1&ns_ap_ev=start&ns_ap_device=iPad11%2C1&ns_ap_id=1674123990398&ns_ap_csf=1&ns_ap_bi=com.mncgroup.Super-Audio-Software&ns_ap_pfm=ios&ns_ap_pfv=15.7&ns_ap_ver="+i+"&ns_ap_sv=6.10.0%2B220128&ns_ap_bv=2.8.0%2B220128&ns_ap_smv=6.5&ns_type=view&ns_ap_gs=1674121643908&ns_ts=1674123985368&ns_ap_cfg=110100101-000-3C-7D0-64-A-1F-1E-BB8-BB8&ns_ap_env=0-1-0-0-1-0&ns_ap_ut=60000&ns_ap_ar=arm64&ns_ap_cs=4&ns_ap_fg=1&ns_ap_dft=0&ns_ap_dbt=0&ns_ap_dit=417325&ns_ap_as=0&ns_ap_das=417325&ns_ap_usage=417325&ns_radio=wifi&ns_ap_install=1674121643908&ns_ap_lastrun=1674123573071&ns_ap_ft=0&ns_ap_bt=0&ns_ap_it=417325&ns_ap_res=0x0&ns_ap_sd=750x1334&ns_ap_po=0x0&ns_ap_lang=en-ID&ns_ap_jb=0"
  let sesBuddyku = "https://sb.scorecardresearch.com/p2?c1=19&c2=9013027&ns_ap_an=buddyku_dev&ns_ap_pn=ios&ns_ap_pv=15.7&c12=7696D8299D696FC5147A623898B1DFCE-cs62&name=foreground&ns_ap_ec=1&ns_ap_ev=start&ns_ap_device=iPad11%2C1&ns_ap_id=1674123990398&ns_ap_csf=1&ns_ap_bi=com.mncgroup.Super-Audio-Software&ns_ap_pfm=ios&ns_ap_pfv=15.7&ns_ap_ver="+i+"&ns_ap_sv=6.10.0%2B220128&ns_ap_bv=2.8.0%2B220128&ns_ap_smv=6.5&ns_type=view&ns_ap_gs=1674121643908&ns_ts=1674123985368&ns_ap_cfg=110100101-000-3C-7D0-64-A-1F-1E-BB8-BB8&ns_ap_env=0-1-0-0-1-0&ns_ap_ut=60000&ns_ap_ar=arm64&ns_ap_cs=4&ns_ap_fg=1&ns_ap_dft=0&ns_ap_dbt=0&ns_ap_dit=417325&ns_ap_as=0&ns_ap_das=417325&ns_ap_usage=417325&ns_radio=wifi&ns_ap_install=1674121643908&ns_ap_lastrun=1674123573071&ns_ap_ft=0&ns_ap_bt=0&ns_ap_it=417325&ns_ap_res=0x0&ns_ap_sd=750x1334&ns_ap_po=0x0&ns_ap_lang=en-ID&ns_ap_jb=0"
  httpGet(sesPayload)
  httpGet(buddyPayload)
}

function httpGet(theUrl){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, true ); // true for asynchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
</script>
